<img src="{{ url_for('static', filename='food_images/' + food[4]) }}">

<h4>{{ food[1] }}</h4>

<p>{{ food[2] }}</p>

<div class="mb-2">
⭐⭐⭐⭐⭐
</div>

<h5 class="text-success">
₹ {{ food[3] }}
</h5>

<form action="/review/{{ food[0] }}" method="POST">

<select class="form-select mb-2" name="rating">
<option value="5">⭐⭐⭐⭐⭐</option>
<option value="4">⭐⭐⭐⭐</option>
<option value="3">⭐⭐⭐</option>
<option value="2">⭐⭐</option>
<option value="1">⭐</option>
</select>

<textarea
class="form-control mb-2"
name="review"
placeholder="Write your review..."
rows="2"></textarea>

<button class="btn btn-success w-100">
Submit Review
</button>

</form>

<a href="/add_to_cart/{{ food[0] }}"
class="btn btn-warning w-100 mt-2">

🛒 Add To Cart

</a>

<button class="btn btn-outline-danger w-100 mt-2">
❤️ Favorite
</button>